@import './../../../shared/variables.scss';
@import './../../../shared/_mixins.scss';

.favouritesContainer {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
}

.favouritesTitle {
  font-size: $fontMid;
}

.materialIcons {
  @include materialIcons(rgb(183, 80, 80));
}
