@import './../../../styles/variables.scss';

.wrapper {
  position: fixed;
  background-color: $error;
  color: $fontLight;
  font-family: $fontFamily;
  top: -60px;
  right: 60px;
  animation: enter-leave 3s ease-in-out;
  border-radius: 5px;
  padding: 15px;
  width: 300px;

  @keyframes enter-leave {
    0% {
      top: -60px;
    }
    7.5% {
      top: 16px;
    }
    92.5% {
      top: 16px;
    }
    100% {
      top: -60px;
    }
  }
}
