@import './../../../shared/variables.scss';

.addButton {
  min-width: 200px;
  min-height: 45px;
  padding: 10px;
  font-size: $fontMid;
  &:hover {
    border: 1px solid black;
  }
}

.addBtnContainer {
  display: flex;
  flex-direction: column;
}

.errorText {
  color: $error;
}
