@import './../../variables.scss';

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 5px;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

.formInput {
  font-family: $fontFamily;
}
.formErrorInput {
  font-family: $fontFamily;
  border: 1px solid $error;
}

.small {
  width: 80px;
}
