@import './../../../../styles/variables.scss';

.item {
  align-items: center;
  color: $fontDark;
  background-color: $backgroundLight;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  width: 40px;
  &:hover {
    background-color: rgb(246, 243, 243);
  }
}

.disabledpage {
  color: #808e9b;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #808e9b;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: $backgroundLight;
  @media (max-width: $screenSmall) {
    max-width: 350px;
  }
  @media (max-width: $screenXs) {
    max-width: 260px;
  }
}

.paginationpage {
  font-weight: 700;
}

.paginationContainer {
  display: flex;
  justify-content: flex-end;
  font-family: $fontFamily;
  margin-top: 50px;

  @media (max-width: $screenSmall) {
    justify-content: center;
  }
}
