$backgroundLight: white;
$backgroundDark: black;
$backgroundDarkGray: #3e3e3e;

$fontFamily: 'Sofia Sans Condensed';
$fontFamilyRoboto: 'Roboto';

$fontDark: black;
$fontLight: white;

$light1: #f3f4f6;
$light2: #e5e7eb;
$dark: black;
$hoverColor: gray;
$error: #b91c1c;

$fontLarge: 28px;
$fontMid: 20px;
$fontSmall: 16px;
