@import './../../../shared/variables.scss';
.categoriesWrapper {
  font-family: $fontFamily;
  font-size: $fontMid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  column-gap: 15px;
  flex-wrap: wrap;
  margin: 50px 10px 0px;
}

.categoryBox {
  &:hover {
    color: $hoverColor;
    cursor: pointer;
  }
}
