@import './../../shared/variables.scss';

.pageContainer {
  margin: 5px 30px;
  display: flex;
  flex-direction: column;
  font-family: $fontFamily;
  justify-content: center;
  align-items: center;
}

.favouritesContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.pageTitle {
  font-size: $fontLarge;
  font-weight: bold;
  margin: 30px 0px;
}

.noItemsText {
  font-size: $fontMid;
}
