@import './variables.scss';

@mixin add-button {
  min-width: 200px;
  min-height: 45px;
  padding: 10px;
  font-size: $fontMid;
  &:hover {
    border: 1px solid black;
  }
}

@mixin page-container($margin) {
  display: flex;
  flex-direction: column;
  font-family: $fontFamily;
  margin: $margin;
}

@mixin button-container {
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
}

@mixin form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 450px;
  padding: 20px;
  border: 1px solid $hoverColor;
  border-radius: 5px;
  margin-top: 20px;
  height: 100%;
}

@mixin input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

@mixin checkout-btn {
  padding: 0.5rem;
  width: 100%;
  font-size: $fontSmall;
  &:hover {
    background-color: $hoverColor;
  }
}

@mixin materialSymbols {
  font-family: 'Material Symbols Outlined';
  color: $fontDark;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: $fontLarge;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
  &:hover {
    color: $hoverColor;
  }
}

@mixin materialIcons($color) {
  font-family: 'Material Icons';
  cursor: pointer;
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  display: inline-block;
  color: $color;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
