@import './../../../shared/variables.scss';

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  button {
    padding: 0.5rem;
    background-color: $dark;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    font-family: $fontFamily;
    margin: 20px 0px;

    &:hover {
      background-color: $hoverColor;
    }
  }

  .formLabel {
    font-size: 12px;
    color: $hoverColor;
    font-family: $fontFamilyRoboto;
  }

  .formInput {
    font-family: $fontFamily;
  }
  .formErrorInput {
    font-family: $fontFamily;
    border: 1px solid $error;
  }

  @media (max-width: $screenSmall) {
    max-width: 260px;
  }
}

.errorMessage {
  color: $error;
  font-size: 14px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
