@import './../../styles/variables.scss';

.bigHeader {
  align-items: center;
  background-color: $light1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $dark;
  height: 70px;
  padding: 0px 30px;
  @media (max-width: 767px) {
    flex-direction: column;
    height: 120px;
    padding: 30px 0px;
  }
}

header {
  font-family: $fontFamily;
  a {
    text-decoration: none;
    color: $dark;
    text-align: center;
  }
}

.smallHeader {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  background-color: $light2;
  color: $dark;
}

.spanContainer {
  padding: 0px 20px;
}
.spanElement {
  cursor: pointer;

  &:hover {
    color: $hoverColor;
  }
}

.mainTitle {
  font-size: $fontLarge;
}

.iconsRight {
  display: flex;
  column-gap: 10px;
}

.iconsLeft {
  display: flex;
  column-gap: 10px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  &:hover {
    color: $hoverColor;
  }
}

.mainPageLink {
  margin-bottom: 5px;
}

.materialSymbolsOutlined {
  font-family: 'Material Symbols Outlined';
  color: $dark;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: $fontLarge;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
  &:hover {
    color: $hoverColor;
  }
}

nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    li {
      display: inline-block;
    }
    ul {
      display: none;
      position: absolute;
      top: 50px;
      li {
        float: none;
        display: list-item;
        position: relative;
      }
    }
  }
  a {
    display: block;
    padding: 0 10px;
    line-height: 50px;
    text-decoration: none;
    &:hover {
      color: gray;
      background-color: white;
    }
  }
}

nav ul li:hover > ul {
  display: inherit;
  background-color: $light2;
  width: 50px;
}
