@import './../../../shared/variables.scss';

.favImage {
  width: 100px;
  height: 150px;
  border: 1px solid $backgroundDark;
  border-radius: 3px;
}

.favItem {
  display: flex;
  flex-direction: row;
  width: 800px;
  row-gap: 20px;
  justify-content: space-between;
  background-color: $light1;
  padding: 20px;
  border-radius: 5px;
  @media (max-width: $screenMid) {
    width: 500px;
  }
  @media (max-width: $screenSmall) {
    width: 260px;
    flex-direction: column;
    align-items: center;
  }
}

.itemInfo {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.itemName {
  font-weight: bold;
  font-size: $fontMid;
  margin-bottom: 10px;
}

.itemPrice {
  font-size: $fontSmall;
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
}

.materialSymbolsOutlined {
  font-family: 'Material Symbols Outlined';
  color: $fontDark;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: $fontLarge;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
  &:hover {
    color: $hoverColor;
  }
}

.addButton {
  // min-width: 200px;
  // min-height: 45px;
  font-family: $fontFamily;
  background-color: $backgroundDark;
  color: $fontLight;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: $fontMid;
  border: none;
  &:hover {
    background-color: $hoverColor;
  }
}

.disabledAddButton {
  font-family: $fontFamily;
  background-color: $hoverColor;
  color: $fontLight;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: $fontMid;
  border: none;
}
